/* style.css */
/*
Mobile 375px
Desktop 1440px
*/

:root {
  /*Primary color*/
  --brown800: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);

   /*Neutral color*/
  --white: hsl(0, 0%, 100%);
  --rose50: hsl(332, 100%, 98%);
  --eggshell-background-color: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  


}

/*Universal selector*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Restores the original styles of the lists*/
ul,
ol {
  list-style: initial;
  margin-left: 15px;
  padding-left: 10px;
}
/*Ordered lists to display numbers*/
ol {
  list-style-type: decimal;
}

.body {
  font-family: 'Outift',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem 2.5rem;
  background-color:var(--eggshell-background-color);
}
/*max width ensure the container does not stretch too wide*/
.main-container {
  background-color: var(--white);
  padding: 2.2rem;
  border-radius: 0.5rem;
  max-width: 48rem;
  margin: auto;
}

/*image will not be wider than the parent conatiner*/
.main-container img{
  display: block;
  max-width: 100%;
  border-radius: 0.6rem;
}

.header .title{
  font-family: 'Young Serif',serif;
  margin-top:1.8rem ;
  color: var(--dark-charcoal);
}

.header .paragraph{
  font-weight: 500;
  margin-top: 1rem;
  max-width: 100%;
  margin-bottom: 1rem;
  color: var(--brown);
}

/*Preparation container*/
.prep-details{
  font-family: 'Outfit', sans-serif;
  background-color: var(--rose50);
  padding: 2.5rem;
  margin-top: 1.4rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.prep-details h2{
  color:var(--rose800);
}

.prep-details li span{
  font-weight: 800;
  color: var(--brown);
}

